{% extends "base.html.twig" %}
{% form_theme form_comment 'bootstrap_4_layout.html.twig' %}
{% block title %}
    {{article.title}}
{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{path('updateArticle',{'id':article.id})}}" class="btn btn-warning">Editer l'article</a>
        <a href="{{path('removeArticle',{'id':article.id})}}" class="btn btn-danger">Supprimer l'article</a>
        <h2 class="blog-post-title">{{article.title}}</h2>
        {% for category in article.category %}
            <a href="{{path('byCategory',{'id':category.id})}}"><span class="badge badge-primary">{{category.name}}</span></a>
        {% endfor %}
        <p class="blog-post-meta">
            {% for tag in article.tag %}
                <a href="{{path('byTag',{'id':tag.id})}}">
                    <span class="badge badge-secondary">{{tag.name}}</span>
                </a>
            {% endfor %}
            <div class="muted">{{article.date | date('d/m/Y - H:i:s')}}</div>
        </p>
        <div class="div">{{article.content}}</div>
    </div>
    <div class="container">
        {{form(form_comment)}}
            {% if article.comment is not empty %}
                {% for comment in article.comment %}
                    <div class="card mb-3">
                        <div class="row not-gutters">
                            <div class="card-header">
                                <h4 class="card-title">{{comment.author.username}}</h4>
                                <p class="muted">{{comment.date | date('d/m/Y - H:i:s')}}</p>
                            </div>
                            <p class="card-text">{{comment.content}}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endblock %}
